.user-profile-container {
    position: absolute;
    top: 20px; /* ajusta la distancia desde la parte superior de la pantalla */
    right: 20px; /* ajusta la distancia desde el lado derecho de la pantalla */
    display: flex;
    align-items: center;
    color: white;
  }
  
  .user-profile-container span {
    margin-left: 5px;
  }