.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: black; /* Definir el color del texto como negro */
}

.popup-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #888;
}

.close-button:hover {
  color: #555;
}

.btn{
  background: #7b24cb;
  margin-left: 5px;
  padding: 0 4px 0 4px !important;
}